@media screen and (min-width: 768px) {
  a:hover {
    color: rgba(56, 54, 192, 0.863);
    font-weight: bold;
    text-decoration: solid;
  }
}

@media screen and (max-width: 968px) {
  nav {
    background-color: rgba(0, 0, 0, 0.4);
  }
  p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 710px) {
  nav {
    flex-wrap: wrap;
  }
  #menu {
    flex-wrap: wrap-reverse;
    flex-direction: column;
  }

  #nav-links {
    flex-wrap: wrap;
  }
}

@media screen and(max-width:600px) {
  #skillsTable {
    height: 400px;
  }
}

@media screen and (max-width: 445px) {
  h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 375px) {
  h2 {
    font-size: 1.2rem;
  }
  #skillsTable {
    height: 50%;
  }
}
