.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: #f0f0f0;
  font-family: "Roboto Condensed";
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 var(--spacing-3);
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border-bottom: 3px solid rgba(99, 120, 220, 0.4);
  border-radius: 2%;
}

#name {
  font-size: 2.1rem;
  margin-left: 100px;
  margin: 0;
  color: rgb(202, 73, 140);
}

#menu {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-left: auto;
}

#container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(202, 73, 140);
  margin: 6px 0;
  transition: 0.4s;
  border: 3px rgb(202, 73, 140);
  border-radius: 20%;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#nav-links {
  display: none;
}

#nav-links.show {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

li {
  border: 2px solid rgba(99, 120, 220, 0.5);
  border-radius: 4%;
}

.link {
  margin: 8px;
  font-size: 1.4rem;
  text-decoration: solid;
  color: rgb(99, 120, 220);
}

a:link {
  color: rgb(99, 120, 220);
}

a:hover {
  color: rgb(202, 73, 140);
  font-weight: bold;
}

main {
  display: flex;
  justify-content: flex-start;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
