.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  background-image: linear-gradient(
    43deg,
    #000000 0%,
    #2e2e37 46%,
    #ffffff 100%
  );
  font-family: "Roboto Condensed";
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 var(--spacing-3);
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  height: 147px;
  top: 0;
  padding-left: 8px;
  padding-right: 8px;
  position: sticky;
}

#name {
  font-size: 2.1rem;
  margin-left: 100px;
  margin: 0;
  color: rgb(247, 186, 123);
}

#menu {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-left: auto;
}

#container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(99, 120, 220);
  margin: 6px 0;
  transition: 0.4s;
  border: 3px rgb(99, 120, 220);
  border-radius: 10%;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
  border: 3px rgb(202, 73, 140);
  background-color: rgb(202, 73, 140);
}

.change .bar2 {
  opacity: 0;
  border: 3px rgb(202, 73, 140);
  background-color: rgb(202, 73, 140);
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
  border: 3px rgb(202, 73, 140);
  background-color: rgb(202, 73, 140);
}

#nav-links {
  display: none;
}

#nav-links.show {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

.list-link {
  border: 2px solid rgba(99, 120, 220, 0.5);
  border-radius: 4%;
  margin: 8px;
}

.link {
  margin: 8px;
  font-size: 1.4rem;
  text-decoration: solid;
  color: rgb(99, 120, 220);
}

a:hover {
  color: rgb(202, 73, 140);
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 10px 1px rgb(0, 0, 0);
  margin-bottom: 90px;
  color: rgb(255, 204, 112);
  animation-name: fadeIn;
  animation-duration: 5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2 {
  font-size: 1.6rem;
  text-align: center;
}

p {
  font-size: 1.1em;
}
.github {
  color: rgb(233, 154, 144);
  text-decoration: solid;
  text-decoration: underline;
}

#middle {
  display: flex;
  width: 1000px;
}

#middle.wrap {
  flex-wrap: wrap;
}

#projects {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 0px;
  border-radius: 2%;
  min-height: 400px;
  margin-bottom: 90px;
  max-width: 1000px;
  width: 90%;
  color: white;
}

.close-project {
  animation-name: close;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes close {
  from {
    width: 90%;
  }
  to {
    width: 10%;
  }
}

.open-project {
  animation-name: open;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes open {
  from {
    width: 10%;
  }
  to {
    width: 90%;
  }
}

#projectList.hide {
  visibility: hidden;
}

.caption {
  font-size: 1.1em;
  display: flex;
  align-items: baseline;
}
.subscript {
  margin-left: 6px;
}

.caption:hover {
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}

#IMG1,
#IMG2 {
  display: none;
}

#IMG1.show,
#IMG2.show {
  display: block;
  max-width: 800px;
}

#skills {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 0px;
  border-radius: 2%;
  min-height: 400px;
  margin-bottom: 90px;
  color: white;
}

.open-skills {
  animation-name: open;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes open {
  from {
    width: 10%;
  }
  to {
    width: 90%;
  }
}

.close-skills {
  animation-name: close;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes close {
  from {
    width: 90%;
  }
  to {
    width: 10%;
  }
}

#skillsTable {
  display: none;
  width: 100%;
  height: auto;
}

#skillsTable.show {
  display: block;
}

table,
th,
td {
  border: 1px solid;
}

td {
  width: 33%;
  height: 33%;
}
#tableIMG {
  width: 33%;
  height: 33%;
}
